<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.game.views.viewCategory"
            name="视图项目">
      </category>
      <wizard
            category="org.game.views.viewCategory"
            class="org.game.views.wizard.NewProjectWizard"
            icon="icons/protoProjectIcon.png"
            id="org.game.views.viewProject"
            name="视图项目"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/protoProjectIcon.png"
            id="org.chw.game.ide.ViewNature"
            natureId="org.chw.game.ide.ViewNature">
      </image>
   </extension>
   <extension
         id="org.chw.game.ide.ViewBuilder"
         name="视图项目构建器"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.game.project.ViewProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.chw.game.ide.ViewNature"
         name="视图项目性质"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.game.project.ViewProjectNature">
         </run>
      </runtime>
      <builder
            id="org.chw.game.ide.ViewBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.game.editors.ViewEditor"
            default="true"
            extensions="xml"
            icon="icons/viewFileIcon.gif"
            id="org.game.editors.XML"
            name="视图编辑器">
      </editor>
      <editor
            class="org.game.editors.ImgEditor"
            default="true"
            extensions="png,jpg"
            icon="icons/imgFileIcon.gif"
            id="org.game.editors.IMG"
            name="图像查看器">
      </editor>
      <editor
            class="org.game.editors.ProjectEditor"
            default="true"
            extensions=".mo"
            icon="icons/appIcon16.png"
            id="org.game.editors.PRO"
            name="汇总编辑器">
      </editor>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="org.game.views.search.SearchResultView"
            icon="icons/appIcon16.png"
            id="org.game.views.search.view"
            searchResultClass="org.game.views.search.SearchResult">
      </viewPage>
   </extension>
   <extension
         id="org.chw.game.popup"
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.game.views.objectContribution1"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.game.refactor.RenameFileAction"
               enablesFor="1"
               icon="icons/appIcon16.png"
               id="org.game.views.action1"
               label="重命名..."
               menubarPath="org.chw.viewer.refactoring">
         </action>
         <action
               class="org.game.refactor.MoveFileAction"
               icon="icons/appIcon16.png"
               id="org.game.views.action1"
               label="移动..."
               menubarPath="org.chw.viewer.refactoring">
         </action>
         <action
               class="org.game.views.search.SearchFileRefAction"
               enablesFor="1"
               icon="icons/appIcon16.png"
               id="org.game.views.action1"
               label="查找引用"
               menubarPath="group.find">
         </action>
         <action
               class="org.game.views.priority.PrioritySettingAction"
               enablesFor="1"
               icon="icons/appIcon16.png"
               id="knightViewEditor.action1"
               label="优先级设定">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.renameParticipants">
      <renameParticipant
            class="org.game.refactor.RenameFileParticipant"
            id="org.game.views.renameParticipant2"
            name="UI项目文件改名重构处理器">
         <enablement></enablement>
      </renameParticipant>
   </extension>
   <extension
         point="org.eclipse.ltk.core.refactoring.moveParticipants">
      <moveParticipant
            class="org.game.refactor.MoveFileParticipant"
            id="org.game.views.moveParticipant1"
            name="UI项目文件移动重构处理器">
         <enablement></enablement>
      </moveParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.game.views.category1"
            name="MyViews">
      </category>
      <view
            category="org.game.views.category1"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/appIcon16.png"
            id="org.game.views.view1"
            name="UI资源管理器"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.game.views.view1">
         <popupMenu
               allowsPlatformContributions="true">
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="org.chw.viewer.refactoring">
            </insertionPoint>
            <insertionPoint
                  name="group.find"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.port"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.build"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.generate"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="org.game.views.view1">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </contentExtension>
            <contentExtension
                  pattern="org.game.views.navigatorContent1">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.game.views.view1">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.game.knight.perspective.UiPerspective"
            icon="icons/appIcon16.png"
            id="org.game.knight.viewEditor.perspective1"
            name="UI开发">
      </perspective>
   </extension>
   

</plugin>
